body{
	background-image: url(../image/imagebateau3.jpg);
	background-size: cover;
	background-color: none !important;
	background-position-y: -300px;
}

.container{
	margin-top: 27.4vh;
	margin-bottom: 27.4vh;
}

h1{
	color: white;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 1),
	1px 0px 1px black,
	0px 1px 1px black,
	-1px 0px 1px black,
	0px -1px 1px black,
	1px 1px 1px black,
	-1px 1px 1px black,
	1px -1px 1px black,
	-1px -1px 1px black;
}

.item{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.btn{
	margin: 10px;
	width: 200px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
	border: 2px solid rgb(0, 94, 255);
}
